.skill-category-div {
    margin-right: 3rem;
    margin-bottom: 3rem;
}

.skill-div {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 10rem 10rem;
}

.stars-div {
    display: flex;
}

.skill-p {
    padding-bottom: 0.5rem;
}

.star-div {
    background-color: #8844bb;
    height: 1rem;
    width: 1rem;
    margin-right: 0.25rem;
}

.star-1 {
    background-color: #dbc6ea; 
}

.star-2 {
    background-color: #cfb4e3;
}

.star-3 {
    background-color: #c3a1dd;
}

.star-4 {
    background-color: #b78ed6;
}

.star-5 {
    background-color: #ab7ccf;
}

.star-6 {
    background-color: #9f69c8;
}

.star-7 {
    background-color: #9356c1;
}

.star-8 {
    background-color: #8844bb;
}