/* COLOR SCHEME https://www.color-hex.com/color/8844bb */

@charset "UFT-8";

/* GENERAL **************************************************************** */

* {
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    outline: none;
    overflow-x: hidden;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}

a, button {
    cursor: pointer;
}

img {
    width: 100%;
}



/* TYPOGRAPHY ************************************************************* */

html {
    color: #1b0d25;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    body {
        overflow-x: auto;
    }
}

h1 {
    color: #8844bb;
    font-size: 110px;
    font-weight: normal;
    letter-spacing: 0.1em;
}

h2 {
    color: #8844bb;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 0.05em;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

strong {
    color: #8844bb;
    display: inline;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 0.05em;
}


@media only screen and (min-width: 600px) and (max-width: 1000px) {
    h1 {
        font-size: calc(40px + (110 - 40) * (100vw - 600px) / (1000 - 600));    
    }

    h2, strong {
        font-size: calc(25px + (30 - 25) * (100vw - 600px) / (1000 - 600)); 
    }   
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 40px;
    }

    h2, strong {
        font-size: 25px;
    }
}

.white-text {
    color: white;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
}



/* NAV ******************************************************************** */
nav {
    background: #8844bb;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

nav div {
    padding-bottom: 1.5rem;
}

nav a {
    display: block;
    letter-spacing: 0.2em;
    padding: 0.2rem 1.5rem 0.3rem;
}

.nav-name-div a {
    padding: 0.2rem 1.5rem 0.5rem;
}

nav p {
    overflow-y: hidden;
}

.nav-logo-div {
    background: white;
    margin: 1.5rem 1.5rem 0.9rem;
    padding: 0;
    width: 8rem;
}

.nav-name-div p {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.2em;
}

.nav-name-first, .nav-name-middle {
    font-size: 2.1rem;
    letter-spacing: 0.2em;
}

.nav-name-last {
    font-size: 1.4rem;
    letter-spacing: 0.4em;
}

.hamburger {
    background-color: #8844bb;
    display: none;
    position: absolute;
    top: 0.1rem;
    left: 0.1rem;
    width: 1.8rem;
}



/* HEADER ***************************************************************** */

header {
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 13rem;
}

header p {
    margin: 1rem 0;
}



/* MAIN ******************************************************************* */
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 11rem;
    width: 100vw;
}

.creation {
    background: #8844bb;
    display: block;
    flex-shrink: 1;
    height: 300px;
    margin-bottom: 1rem;
    margin-right: 1rem;
    overflow: hidden;
    padding: 1rem;
    position: relative;
    width: 300px;
}

.creation-div {
    background: white;
    height: 198px;
    width: 100%;
}

.creation-p {
    color: #1b0d25;
    padding: 1rem 0 0;
    text-align: center;
}



/* ANIMATIONS *********************************************************************** */
.untucked {
    width: 11rem;
    transition: width 1s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: width 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.tucked {
    width: 2rem;
    transition: width 1s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: width 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.expanded {
    padding-left: 2rem;
    padding-top: 2rem;
    width: 100%;
    transition: width 1s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: width 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.increased {
    padding-left: 14rem;
    transition: padding-left 1s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: padding-left 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.decreased {
    padding-left: 3rem;
    transition: padding-left 1s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: padding-left 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.visible {
    opacity: 1;
    transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.invisible {
    opacity: 0;
    transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.white-text-with-effect {
    color: white;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
    background-color: #8844bb;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
}

.white-text-with-effect:hover, .white-text-with-effect:focus {
    background-color: #9f69c8;
    transition: background-color 1s;
    -webkit-transition: background-color 1s;
}