/* COLOR SCHEME https://www.color-hex.com/color/8844bb */

@charset "UFT-8";

/* GENERAL **************************************************************** */

* {
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    outline: none;
    overflow-x: hidden;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
}

a, button {
    cursor: pointer;
}

img {
    width: 100%;
}



/* TYPOGRAPHY ************************************************************* */

html {
    color: #1b0d25;
    font-size: 18px;
}

body {
    overflow-x: auto;
}

h1 {
    color: #8844bb;
    font-size: 110px;
    font-weight: normal;
    letter-spacing: 0.1em;
}

h2 {
    color: #8844bb;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 0.05em;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

strong {
    color: #8844bb;
    display: inline;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 0.05em;
}


@media only screen and (min-width: 600px) and (max-width: 1000px) {
    h1 {
        font-size: calc(40px + (110 - 40) * (100vw - 600px) / (1000 - 600));    
    }

    h2, strong {
        font-size: calc(25px + (30 - 25) * (100vw - 600px) / (1000 - 600)); 
    }   
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 40px;
    }

    h2, strong {
        font-size: 25px;
    }
}

.white-text {
    color: white;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -o-font-smoothing: antialiased;
}

.italic {
    font-style: italic;
}




/* HEADER ***************************************************************** */

header {
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    padding-left: 13rem;
}

header p {
    margin: 1rem 0;
}



/* MAIN ******************************************************************* */
main {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    padding-left: 11rem;
    width: 100vw;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}
